

table {
 width: 100%;
 border: 1px solid #000;
 border-collapse: collapse;
 background-color: rgb(156, 209, 209);
 }

  th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
   }

    th {
    background-color: #d74747;
    }


